@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  --color-secondary: #22d3ee;
  --color-dark: #020617;
  --color-glass: rgba(10, 10, 10, 0.7);

  --font-sans: 'Outfit', sans-serif;

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer base {
  body {
    @apply bg-dark text-white font-sans;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass backdrop-blur-xl border border-white/10 shadow-2xl shadow-cyan-900/10;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-blue-500;
  }
}